.DataText {
  display: flex;
  justify-content: space-between; /* Distribuye el contenido a lo largo */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  padding: 10px 20px; /* Ajusta el espacio interno para que sea más uniforme */
  background-color: #f8f9fa; /* Color de fondo claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle efecto de barra */
}

.country, .name, .localtime {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el texto verticalmente */
  font-size: 1.2rem; /* Tamaño de letra */
  color: #333; /* Color de texto */
  padding: 10px;
}

.country p {
  font-weight: bold;
  font-size: 1.5rem;
}

.name p {
  font-weight: 500;
  color: #555; /* Color ligeramente más claro */
}

.localtime p {
  font-style: italic;
  color: #777; /* Color más claro */
  font-size: 1rem;
}

.mainContainer{
  display: flex;
  flex-direction:row-reverse; /* Mantener los componentes en columna */
  gap: 10px; /* Espacio entre los componentes */
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 10px; /* Ajusta el padding si es necesario */
}

.containerCards {
  display: grid; /* Usar grid para la disposición interna */
  grid-template-columns: repeat(2, 1fr); /* 2 columnas para el primer hijo */
  gap: 10px; /* Espacio entre las tarjetas */
  padding: 10px; /* Ajusta el padding si es necesario */
  width: 48%; /* Ocupar un 48% del contenedor principal */
}

.containerNews {
  display: grid; /* Usar grid para la disposición interna */
  grid-template-columns: 1fr; /* 1 columna para el segundo hijo */
  gap: 10px; /* Espacio entre las noticias */
  padding: 10px; /* Ajusta el padding si es necesario */
  width: 48%; /* Ocupar un 48% del contenedor principal */
}